@import "tailwindcss";

:root {
  --background: #f7ebdc;
  --foreground: #171717;
  --primary: #235287;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f7ebdc;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}
